<!-- 
    <nav class="navbar is-dark optNav">
 
      <div class="navbar-brand ">
        <a class="navbar-item">
          <img src="assets/img/logo.png">
        </a>
      </div>
      
      <div class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" routerLink="">Add Question</a>
          <a class="navbar-item" routerLink="contact">Contact Us</a>
          <a class="navbar-item" routerLink="users">Profile</a>
        </div>
      </div>
    </nav> -->


    <nav class="navbar optNav" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item"  [routerLink]="['']">
          <img src="assets/img/logo.png">
        </a>
    
        <a role="button" (click)="toggleNavbar()" #navBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu" #navMenu>
          <div class="navbar-end">
              <a class="navbar-item" [routerLink]="['add-question']" *ngIf="user?.role=='CANDIDATE'">Ask Question</a>
          
              <a class="navbar-item" [routerLink]="['responses']" *ngIf="user?.role=='CONSULTANT'">Dashboard</a>
              <a class="navbar-item" [routerLink]="['profile']"  *ngIf="user?.role!='CONSULTANT'">Profile</a>
              <a class="navbar-item" [routerLink]="['contactus']"  *ngIf="user?.role!='CONSULTANT'">Contact Us</a>          

              <a class="navbar-item" *ngIf="authService.loggedIn$ | async" (click)="signOut()"><span class="icon is-small is-left">
                <fa-icon [icon]="faPowerOff"></fa-icon>
          
              </span></a>

              
            </div>
        <!-- <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>
    
          <a class="navbar-item">
            Documentation
          </a>
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item">
                About
              </a>
              <a class="navbar-item">
                Jobs
              </a>
              <a class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div> -->
      </div>
    </nav>