nav.navbar.optNav {
    // background: #FFC107 !important;
    font-weight: 600;

    background: #3f464c;
    background: linear-gradient(to bottom, #d8d8d8, #bdc3c7);
 
    background: -webkit-linear-gradient(to bottom, #d8d8d8, #bdc3c7);
 
}
.navbar-item img {
    max-height: 3.75rem!important;
}