<form [formGroup]="mySignInForm" novalidate (ngSubmit)="signIn()" >
<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="Email" formControlName="email">
    <span class="icon is-small is-left">
      <fa-icon [icon]="faEnvelope"></fa-icon>
    </span>
    <!-- <span class="icon is-small is-right">
      <fa-icon [icon]="faCheck"></fa-icon>

    </span> -->
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" formControlName="password" maxlength="10" placeholder="Password">
    <span class="icon is-small is-left">
      <fa-icon [icon]="faPassword"></fa-icon>

    </span>
  </p>
</div>
<!-- <div class="field">
    <div class="control" >
        <label class="radio" data-tooltip="Candidate">
          <input type="radio" [value]="'CANDIDATE'" formControlName="signUpType">
          Candidate
        </label>
        <label class="radio"  data-tooltip="Attorney">
          <input type="radio"  [value]="'CONSULTANT'"  formControlName="signUpType" >
          Attorney/Paralegal
        </label>
      </div>

</div> -->
<div class="field">
  <p class="control">
    <button class="button is-success" type="submit" >
      Login
    </button>
    &nbsp; <a ref="" (click)="Switch()" *ngIf=" mySignInForm.get('signUpType').value=='CANDIDATE'">Register</a>
  </p>
</div>
</form>