.userLabel{
    // color: darkblue!important;
    font-size: 13px!important;
    font-weight: 500!important;
    // margin-bottom: 17px!important;
    /* margin: 0 auto!important; */
    /* max-width: 140px!important; */
    /* margin: 0px auto!important; */
    text-align: right!important;
    // text-decoration: underline!important;
}
.queriesCls{
   
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;
    padding-bottom: 1.5rem!important;
}


.card {
    background: white!important;
    margin: 5px;
    color: #9E9E9E!important;
   
}
.table th:not([align]) {
    text-align: center!important;
}

a.button.btnCancel {
    height: 100%!important;
}

table td:not([align]), table th:not([align]) {
    text-align: center;
}
td.quesTd {
    text-align: left!important;
}
// .card-header-title {
    
//     color: #ff7f1278!important;
   
// }

.field-label {
    margin: 0px !important;
    text-align: left !important;
}

tbody>tr>td {
    border: 1px dotted #e0e0e0!important;
    color: grey;
    /* background: #f7f0f0; */
    font-weight: 100!important;
    /* font-size: 13px!important; */
    /* letter-spacing: 1.5px; */
}

.table__wrapper {
    overflow-x: auto;
  }

  .table.is-fullwidth {
    width: 99%!important;
}

.button.is-small {
    padding: 0px 5px!important;
    height: 1.5em!important;
   
}