<article class="message is-success smallText" *ngIf="showSuccess">
 
  <div class="message-body">
  Thank you for your question, We will get back to you soon!
  </div>
</article>
<article class="message is-danger smallText" *ngIf="showError">
 
  <div class="message-body">
  Failed to post your question, Please contact our support for further assistance.
  </div>
</article>

<div class="field-label">
  <label class="label userLabel">Welcome, &nbsp;{{user.firstName+" "+user.lastName}} !</label>
</div>
 <form [formGroup]="questionForm" novalidate (ngSubmit)="AddQuestion()" class="rentFromCls">
<div class="field">
  <label class="label">Subject</label>
  <div class="control">
    <input class="input" type="text" formControlName="caseHeader" maxlength="200" placeholder="Header for your question">
  </div>
</div>



<!-- <div class="field">
  <label class="label">Subject</label>
  <div class="control">
    <div class="select">
      <select>
        <option>Select dropdown</option>
        <option>With options</option>
      </select>
    </div>
  </div>
</div> -->

<div class="field">
  <label class="label">Question</label>
  <div class="control">
    <textarea class="textarea" formControlName="description"   placeholder="Please type your question..."></textarea>
  </div>
</div>




<div class="field is-grouped">
  <div class="control">
    <button class="button is-dark" type="submit">Submit</button>
  </div>
  <div class="control">
     
    <a [routerLink]="['/home']" class="button is-link is-light btnCancel">Cancel</a>
  </div>
</div>

</form>




<br />

<p class="title is-6">Previously asked questions:</p>
<div class="table__wrapper">
  <table class="table   is-responsive is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
            <th><abbr title="Position">Case No</abbr></th>
           
            <th><abbr title="Played">Date</abbr></th>
            <th class="is-three-fifths"><abbr title="Question">Question</abbr></th>
            <!-- <th><abbr title="Played">Attorney</abbr></th> -->
            <th><abbr title="Case current status">Status</abbr></th>
         
            <!-- <th class="is-two-fifths"><abbr title="Question">Response</abbr></th> -->
            <th><abbr title="View Details">Action</abbr></th>
           

        
      </tr>
    </thead>
    <tbody>
            <tr *ngFor="let pq of questionHistory |  paginate:{itemsPerPage: 10, currentPage:p} ">
          
                    <td><span class="keyColVal">{{pq.caseID}}</span>
                    </td>
                    
                   
                    <td>{{pq.questionDate | date:'MM-dd-yyyy hh:mm'}}
                    </td>
                    <td  class="quesTd" >
                        <strong> {{pq.caseHeader}}</strong> <br/>
                        <p  *ngIf="pq?.responseLevel!= 'Paralegal'" >{{pq.response | slice:0:127}}</p>
                   <!-- <p style="color: darkgrey;" *ngIf="pq.responseLevel== 'Paralegal'">Awaiting Response</p>
                   <p style="color: darkgrey;" *ngIf="pq.response== '' || pq.response== null || pq.response== undefined">Awaiting Response</p>
                      
                    -->
                   <!-- <p class="is-small">{{pq.description | slice:0:127}}...</p> -->
                     </td>
                    <!-- <td>{{pq.assignedAttorney}}
                      </td> -->
                    <td>{{pq.caseStatus | titlecase }}
                      </td>
                   
                    <!-- <td>
                        <p class="is-small">{{pq.response | slice:0:127}}...</p>
                   
                    </td> -->
                    <td>
                        <a class="button is-small is-dark" [routerLink]="['/view-case',pq.caseID]">View</a>        
                    </td>
        
    
    
                </tr>
    </tbody>
    <tfoot>
       <tr>

        <td colspan="7">
            <div id="pagination">
                <pagination-controls (pageChange)="p=$event"></pagination-controls>
              </div> 
        </td>
       </tr>    
    </tfoot>
  </table>
</div>



<div class="modal" [ngClass]="{'is-active':(!askForProfile) }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Complete Your Profile</p>
        <!-- <button class="delete" aria-label="close"></button> -->
      </header>
      <section class="modal-card-body">
          <app-profile  *ngIf="!askForProfile" (switchAuth)="onAuthTypeSwitch($event)"></app-profile>
      </section>
      <!-- <footer class="modal-card-foot">
        <button class="button is-success">Save changes</button>
        <button class="button">Cancel</button>
      </footer> -->
    </div>
  </div>


<!-- 

  <div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
      <div class="modal-background" (click)="toggleModal()"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Modal title</p>
          <button class="delete" aria-label="close" (click)="toggleModal()"></button>
        </header>
        <section class="modal-card-body">
      
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success">Save changes</button>
          <button class="button" (click)="toggleModal()">Cancel</button>
        </footer>
      </div>
    </div>
     toggleModal() {
    this.isModalActive = !this.isModalActive;
  }
  isModalActive: boolean = false;
         -->
