<!-- header -->
<app-header></app-header>
<!-- routes will be rendered here -->
<ngx-ui-loader 
[fgsColor]="loaderConfig.fgsColor"
  [fgsPosition]="loaderConfig.fgsPosition"
  [fgsSize]="loaderConfig.fgsSize"
  [fgsType]="loaderConfig.fgsType"
  [bgsColor]="loaderConfig.bgsColor"
  [bgsOpacity]="loaderConfig.bgsOpacity"
  [bgsPosition]="loaderConfig.bgsPosition"
  [bgsSize]="loaderConfig.bgsSize"
  [bgsType]="loaderConfig.bgsType"
  [gap]="loaderConfig.gap"
  [logoPosition]="loaderConfig.logoPosition"
  [logoSize]="loaderConfig.logoSize"
  [logoUrl]="loaderConfig.logoUrl"
  [overlayColor]="loaderConfig.overlayColor"
  [pbColor]="loaderConfig.pbColor"
  [pbDirection]="loaderConfig.pbDirection"
  [pbThickness]="loaderConfig.pbThickness"
  [hasProgressBar]="loaderConfig.hasProgressBar"
  [text]="loaderConfig.text"
  [textColor]="loaderConfig.textColor"
  [textPosition]="loaderConfig.textPosition"
  
  
  ></ngx-ui-loader>
<div class="container">
  <div class="box">
    
    <router-outlet></router-outlet>
  </div>
</div>

<!-- footer -->
<app-footer></app-footer>
