.notification {
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 1.25rem 0rem 0rem 0rem!important;
    position: relative;
    // overflow-y: scroll;
}

.box {
    background-color: #9e9e9e12!important;
    
}

