<footer class="footer optFooter">
  <div class="content has-text-centered">
    <div>
      <img src="./../../../../assets/img/image-asset.jpeg" class="footerImg" alt="" />
    </div>
    <br/>
    <p>
        kSquare IT, 6404 Ivy Lane, Suite 320, Greenbelt, MD 20770 PHONE 1-877-266-8540 2010 © Copyright. kSquare IT - All Rights Reserved.
      <!-- <strong>Powered </strong> By <a href="https://www.ksquareit.com/">KSquareIT</a> -->
      <!-- <br/>
      <span>Privacy Policy | All Rights Reserved</span> -->
    
    </p>
  </div>
</footer>



