.footer {
    padding: 0.5rem 0.5rem !important;
    background: #3f464c;
    background: -webkit-linear-gradient(to top, #d8d8d8, #bdc3c7);
    background: linear-gradient(to top, #d8d8d8, #bdc3c7);
}
img.footerImg {
    max-width: 90%!important;
    border-radius: 10px!important;
}


// footer.footer.optFooter {
//     background: #FFC107 !important;
//     padding: 0.5rem 1.5rem 0.5rem!important;
//     font-size: 11px;
//     /* color: white!important; */
// }

// .footer {
//     position: fixed!important;
//     left: 0!important;
//     bottom: 0!important;
//     width: 100%!important;

//     text-align: center;
//  }