<article class="media queriesCls">

    <div class="media-content">
        <div class="field-label">
            <label class="label userLabel">Welcome, &nbsp;{{user.firstName+" "+user.lastName}} !</label>
        </div>

        <p>  Case#:&nbsp;<span class="tag is-warning">{{questionObj.caseID}}</span>
            &nbsp;&nbsp;&nbsp;
        
            <span class="tag is-light"  [ngClass]="{'lblRed': questionObj?.caseStatus=='COMPLETED'}">{{questionObj.caseStatus}}</span>
        </p>    
      
        <table class="table is-responsive is-striped is-narrow is-hoverable is-fullwidth cardTable">
            <thead>
                <tr>
                    <th class="smallCol" colspan="2"><abbr title="Position"> <span
                                class="tag is-dark">Question</span></abbr></th>

                    <th colspan="3" style="
                        color: red!important;
                        font-weight: 700!important;
                        font-size: 11px;
                        padding-right: 1em!important;
                    ">by {{questionObj.askedBy}} on {{questionObj.questionDate | date:'MM/dd/yy h:mm:ss a'}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>


                    <td class="is-two-fifths" colspan="5">
                        <strong> {{questionObj.caseHeader}}</strong> <br />
                        <p class="is-small">{{questionObj.description }}</p>
                    </td>



                </tr>
            </tbody>
        </table>



        <table class="table is-responsive is-striped is-narrow is-hoverable is-fullwidth cardTable"
            *ngFor="let c of responseHistory">
            <thead>
                <tr>
                    <th class="smallCol" colspan="2">
                        <span class=" tag is-dark">Response</span>
                    </th>

                    <th colspan="3" style="
                          
                            font-weight: 700!important;
                            font-size: 11px;
                            padding-right: 1em!important;
                        ">by {{c.assignedAttorney}} on {{c.attorneyResponseDate | date:'MM/dd/yy h:mm:ss a'}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>


                    <td class="is-two-fifths" colspan="5">
                        <p class="is-small">{{c.response}} </p>
                    </td>



                </tr>
            </tbody>
        </table>






        <div class="card" *ngIf="questionObj.caseStatus!='COMPLETED'">
            <header class="card-header">

                <nav class="level card-header-title">
                    <div class="level-item has-text-centered level-left">
                        <div>
                            <p class=""><span class="tag is-dark">Response(in progress)</span> </p>

                        </div>
                    </div>
                    <div class="level-item has-text-centered">

                    </div>
                    <div class="level-item has-text-centered" style="
                    text-align: right!important;
                    display: block;
                    font-weight: 600;
                ">

                        <p class="heading">by {{user.firstName+" "+user.lastName}}</p>


                    </div>

                </nav>
            </header>
            <form [formGroup]="responseForm" novalidate (ngSubmit)="SaveResponse()">
                <div class="card-content">


                    <div class="content">


                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <textarea class="textarea" formControlName="description" maxlength="4000"
                                        placeholder="Explain how we can help you"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <footer class="card-footer">

                    <p class="card-footer-item">
                        <button class="button is-dark  " type="submit">
                            <span *ngIf="user.approle=='Paralegal'">Save Draft Response</span>
                           <span *ngIf="user.approle=='Attorney'"> Publish Response </span>
                           <span *ngIf="user.approle!='Attorney' && user.approle!='Paralegal'">Submit </span>
                        </button>
                        &nbsp;&nbsp;
                        <button type="button" class="button  is-warning " [routerLink]="['/responses']">
                            <span >
                            Cancel</span>
                        </button>
                    </p>
                    <!-- <p class="card-footer-item">
                        <button type="button" class="button  is-light " [routerLink]="['/home']">Cancel</button>
                    </p> -->



                </footer>
            </form>
        </div>
        <a class=" tag is-dark"  style="
        margin-left: 10px;
    "[routerLink]="['/responses']">Back</a>

    </div>

</article>






        <!-- <div class="card historycard" *ngFor="let c of responseHistory">
            <header class="card-header">

                <nav class="level card-header-title">
                    <div class="level-item has-text-centered level-left">
                        <div>
                            <p class=""><span class="tag is-primary">Response</span> </p>

                        </div>
                    </div>
                    <div class="level-item has-text-centered">

                    </div>
                    <div class="level-item has-text-centered ">

                        <p class="heading">by {{c.assignedAttorney}} on {{c.attorneyResponseDate | date:'MM/dd/yy h:mm:ss a'}}</p>


                    </div>

                </nav>
            </header>
            <div class="card-content">
                <div class="content">
                    <p class="is-small">{{c.response}} </p>
                </div>
            </div>
        </div> -->

  <!-- <div class="field is-horizontal">
            <div class="field-label ">
                <label class="label">Case#</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input " type="text" [(ngModel)]="questionObj.caseID" readonly>
                    </div>

                </div>
            </div>
        </div> -->


        <!-- <div class="card historycard">
                <header class="card-header">
    
                    <nav class="level card-header-title ">
                        <div class="level-item has-text-centered level-left">
                            <div>
    
                                <span class="tag is-dark">Question</span>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
    
                        </div>
                        <div class="level-item has-text-centered">
    
                            <p class="heading">by {{questionObj.askedBy}} on {{questionObj.questionDate | date:'MM/dd/yy h:mm:ss a'}}</p>
    
    
                        </div>
    
                    </nav>
    
    
                </header>
                <div class="card-content">
    
    
                    <div class="content">
                        <strong style="
                        text-decoration: underline;
                    "> {{questionObj.caseHeader}}</strong> <br />
                        <p class="is-small"> {{questionObj.description}}</p>
                    </div>
                </div>
            </div> -->
