.userLabel{
    color: darkblue!important;
    font-size: 13px!important;
    font-weight: 500!important;
    margin-bottom: 17px!important;
    /* margin: 0 auto!important; */
    /* max-width: 140px!important; */
    /* margin: 0px auto!important; */
    text-align: right!important;
    text-decoration: underline!important;
}
.queriesCls{
   
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;
    padding-bottom: 1.5rem!important;
}
input.input.ng-pristine.ng-invalid.ng-touched{
    border: 2px solid red;
}
textarea.textarea.ng-pristine.ng-invalid.ng-touched {
    border: 2px solid red;
}

.card {
    background: white!important;
    margin: 5px;
    color: #9E9E9E!important;
    font-size: 13px!important;
   
}
.card.historycard{
    background: #9e9e9e45 !important;
    border: 1px solid orange;
    margin: 5px;
    /* background: aliceblue; */
    color: #080808 !important;
    font-size: 13px !important;
}
table.cardTable thead tr th{
    color: #4c4a45 !important;
    background: white;
    padding: 0.4em !important;
    font-weight: 100!important; 
}
table.cardTable{
    border: 1px dotted;
}
.card-header-title {
    
    color: #4c4a45 !important;
    background: white;
    padding: 0.4em !important;
    font-weight: 100!important;
   
}
strong {
    color: #363636 !important;
    font-weight: 600 !important;
}

.previous {
    text-align: left;
    }
    
    .next {
    text-align: right;
    }
    .field-label {
     
        margin:0px !important;
        text-align: left!important;
    }
    .disabled{
        opacity: 0.7!important;
    }

    a.button.is-primary.is-outlined.is-small.goBack {
        color: white;
        background: #040404;
        margin-top: 20px;
        height: 1.5rem;
    }

    .lblRed {
        background: darkgrey!important;
        color: red!important;
        font-weight: 800;
        /* font-size: 13px!important; */
    }
    table.cardTable thead tr th:nth-child(2) {
        /* font-size: 16px; */
        text-align: right;
        font-weight: 300;
        color: #607D8B;
        
    }
    table.cardTable {
        margin-bottom: 0.75rem;
    }