
  <div class="field-label">
    <label class="label userLabel">Welcome, &nbsp;{{user.firstName+" "+user.lastName}} !</label>
</div>

<form [formGroup]="profileForm" novalidate (ngSubmit)="SaveProfile()">
    <!-- <div class="field">
        <label class="label">Visa Status</label>
        <div class="control">
            <input class="input" type="text" formControlName="visaStatus" max="45" placeholder="Visa Status">
        </div>
    </div> -->

    <div class="field">
            <label class="label">Immigration Status</label>
        <div class="control has-icons-left">
            <div class="select">
                <select formControlName="immigrationStatus">
                    <!-- <option selected>Select Immigration Status</option> -->
                    <option *ngFor="let mig of sharedDataService.immigrationStatus">{{mig}}</option>

                </select>
            </div>
            <div class="icon is-small is-left">
                <fa-icon [icon]="faGlobe"></fa-icon>
            </div>
        </div>
    </div>


    <div class="field" *ngIf="profileForm.controls['immigrationStatus'].value=='Other'">
            <p class="control has-icons-left">
                <input class="input" type="text" formControlName="immigrationStatusText" maxlength="50" placeholder="immigration status">
                <span class="icon is-small is-left">
                    <fa-icon [icon]="faGlobe"></fa-icon>
    
                </span>
            </p>
        </div>





        <div class="field">
                <label class="label">Degree</label>
                <div class="control">
                  <div class="select">
                    <select  formControlName="degree" placeholder="your Degree" >
                      <option value="Bachelors">Bachelors</option>
                      <option  value="Masters">Masters</option>
                      <option  value="Phd">Phd</option>
                    </select>
                  </div>
                </div>
              </div>
    
    <div class="field">
        <label class="label">Major</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" formControlName="major" max="45" placeholder="Your major">

        </div>
    </div>
    <div class="field">
        <label class="label">University</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input " type="text" formControlName="university" maxlength="100" placeholder="Your university name">

        </div>
    </div>
    <div class="field">
        <label class="label">Graduation Date</label>
        <div class="control has-icons-left has-icons-right">


                <input class="input" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3"  formControlName="graduationDate" placeholder="Graduation Date">
                <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                

        </div>
    </div>

    
    <!-- <div class="field">
        <label class="label">Validation Code</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" formControlName="validationCode" maxlength="50" placeholder="validation Code">

        </div>
    </div> -->










    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-dark">Submit</button>
        </div>
        <div class="control">

                <a class="button is-link is-light" [routerLink]="['/home']">Cancel</a>
           
        </div>
    </div>
</form>