body{
    font-size: 13px!important;
    background-color: #d8d8d8!important;
}

.navbar.is-dark .navbar-start > a.navbar-item:focus, .navbar.is-dark .navbar-start > a.navbar-item:hover, .navbar.is-dark .navbar-start > a.navbar-item.is-active, .navbar.is-dark .navbar-start .navbar-link:focus, .navbar.is-dark .navbar-start .navbar-link:hover, .navbar.is-dark .navbar-start .navbar-link.is-active, .navbar.is-dark .navbar-end > a.navbar-item:focus, .navbar.is-dark .navbar-end > a.navbar-item:hover, .navbar.is-dark .navbar-end > a.navbar-item.is-active, .navbar.is-dark .navbar-end .navbar-link:focus, .navbar.is-dark .navbar-end .navbar-link:hover, .navbar.is-dark .navbar-end .navbar-link.is-active {
    background-color: #f5f5f5;
    color:#ff7f12 !important;
}
.ngx-pagination .current {
 
    position: relative;
    top: 8px;
    margin: 0 10px;
}
.container {
  
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
    /* max-width: 900px; */
    overflow: hidden;
    min-height: 20rem !important;
}
.transContainer {
    background: transparent!important;
    
}

input.input.ng-pristine.ng-invalid.ng-touched{
    border: 2px solid red;
}
textarea.textarea.ng-pristine.ng-invalid.ng-touched {
    border: 2px solid red;
}

.input, .textarea, .button ,a,.checkbox, .radio {
   
    font-size: 13px!important;
}

.toast-container {
 
    font-size: 13px!important;
  }
  a.navbar-item, .navbar-link {
    cursor: pointer!important;
}
a{
    cursor: pointer!important;
}
.smallCol{
    width: 72px!important;
    min-width: 10px!important;
}

.table td, .table th {
   
    vertical-align: middle!important;
}
a.button{
    height: 1.5em!important;
}
button{
    cursor: pointer!important;
}

select {
    font-size: 13px!important;
}
// .ng-invalid{
//     border: 2px solid red!important;
// }