<article class="media queriesCls">

        <div class="media-content">
                <div class="field-label">
                        <label class="label userLabel">Welcome, &nbsp;{{user.firstName+" "+user.lastName}} !</label>
                      </div>
    
           <p> Case#:&nbsp;<span class="tag is-warning">{{questionObj.caseID}}</span> &nbsp;&nbsp;&nbsp;
        
            <span class="tag is-light"  [ngClass]="{'lblRed': questionObj?.caseStatus=='COMPLETED'}">{{questionObj.caseStatus}}</span>
        </p>    
    
          
           <table class="table is-responsive is-striped is-narrow is-hoverable is-fullwidth cardTable">
                <thead>
                    <tr>
                        <th class="smallCol" colspan="2"><abbr title="Position"> <span
                                    class="tag is-dark">Question</span></abbr></th>
    
                        <th colspan="3" style="
                            color:#a8adb1!important;
                            font-weight: 700!important;
                            font-size: 11px;
                            padding-right: 1em!important;
                        ">Posted on {{questionObj.questionDate | date:'MM-dd-yyyy hh:mm'}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
    
    
                        <td class="is-two-fifths" colspan="5">
                            <strong> {{questionObj.caseHeader}}</strong> <br />
                            <p class="is-small">{{questionObj.description }}</p>
                        </td>
    
    
    
                    </tr>
                </tbody>
            </table>
    
    
<!--     
            <div class="card historycard">
                <header class="card-header">
    
                    <nav class="level card-header-title ">
                        <div class="level-item has-text-centered level-left">
                            <div>
    
                                <span class="tag is-dark">Question</span>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
    
                        </div>
                        <div class="level-item has-text-centered">
    
                            <p class="heading">by {{questionObj.askedBy}} on {{questionObj.questionDate | date:'MM-dd-yyyy hh:mm'}}</p>
    
    
                        </div>
    
                    </nav>
    
    
                </header>
                <div class="card-content">
    
    
                    <div class="content">
                        <strong style="
                        text-decoration: underline;
                    "> {{questionObj.caseHeader}}</strong> <br />
                        <p class="is-small"> {{questionObj.description}}</p>
                    </div>
                </div>
            </div>
     -->


     <div  *ngFor="let c of responseHistory" class="tabDiv">
        <table *ngIf="user.role=='CANDIDATE' && c.responseLevel=='Attorney'" class="table is-responsive is-striped is-narrow is-hoverable is-fullwidth cardTable"
        >
         <thead>
             <tr>
                 <th class="smallCol" colspan="2">
                     <span class=" tag is-dark">Response</span>
                 </th>
    
                 <th colspan="3" style="
                       
                         font-weight: 700!important;
                         font-size: 11px;
                         padding-right: 1em!important;
                     ">By {{c.assignedAttorney}} on {{c.attorneyResponseDate | date:'MM-dd-yyyy hh:mm'}}</th>
             </tr>
         </thead>
         <tbody>
             <tr>
    
    
                 <td class="is-two-fifths" colspan="5">
                     <p class="is-small">{{c.response}} </p>
                 </td>
    
    
    
             </tr>
         </tbody>
     </table>
     </div>
  



   
     
            <a class="tag is-dark" style="
            margin-left: 10px;
        " [routerLink]="['/add-question']">Back</a>
    
        </div>
    
    </article>