.descList{
    list-style: none;
    line-height: 13px;
    margin-left: 0px!important;
}

article {
    border-radius: 0px!important;
}
.button {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .12em;
}