
  <div class="field-label" *ngIf="authService.loggedIn$ | async">
    <label class="label userLabel">Welcome, &nbsp;{{user?.firstName+" "+user?.lastName}} !</label>
</div>
<button (click)="newTab()" class="button">TRAINING</button>
<div class="tile is-ancestor">
  
  <div class="tile is-parent is-vertical">
    
      <div class="tile is-parent">
        
          <article class="tile is-child box is-8 "  [ngClass]="{'is-12' : (authService.loggedIn$ |async)}" >
              <h1 class="title">Ask your OPT Questions</h1>
            <p class="subtitle" >  
              Our experienced Team is here to help you navigate the complex OPT process.<br/>
              Login to post your questions related to OPT/CPT and have them answered for FREE!
            </p><br/>
           
            
      </article>
          <article class="tile is-child box " *ngIf="!(authService.loggedIn$ |async)">
       
          <app-login *ngIf="  !(authService.loggedIn$ |async) && (!showRegister) "   (switchAuth)="onAuthTypeSwitch($event)"></app-login>

          <app-register   *ngIf="!(authService.loggedIn$ |async) && (showRegister) &&(!showRegisterMessage)" (switchAuth)="onAuthTypeSwitch($event)"></app-register>
          <!-- (!showRegister) && -->
          <!-- && showRegister -->
          <article class="message is-success" *ngIf="showRegisterMessage"  >
              <!-- <div class="message-header">
                <p>Registration Successful!</p>
                <button class="delete" aria-label="delete"></button>
              </div> -->
              <div class="message-body">
              Thanks for registering!
              </div>
              <p style="
              font-size: 10px;
              font-weight: 600;
              color: red;
          ">*A confirmation email has been sent to you for email.Please verify your account to ask questions!</p>
            </article>
        
        </article>
        </div>


  </div>

</div>

<div class="tile is-ancestor">
      <div class="tile is-parent is-vertical">
          <div class="tile is-parent">
              <article class="tile is-child box is-4 ">
           
                  <article class="media">
            
                    <figure class="media-left">
                      <p class="image is-128x128">
                        <img src="./../../assets/img/JohnDoe.jpg">
                      </p>
                    </figure>
                    <div class="media-content">
                      <div class="content">
                        <div>
                          <strong>John Smith, Esq</strong> 
                          <br>
                          <ul class="descList">
                            <li><small>Immigration Attorney At Law</small></li>
                            <li><small>20 Years of Experience</small> </li>
                            <li><small>ABC University </small></li>
                          </ul>
                        </div>
                      </div>
                    </div>            
                  </article>
          </article>

        <article class="tile is-child box is-8  ">

          <p >
        
              John Doe, Esq., has been professionally involved in Immigration Law since 1989, practicing as an Immigration
              Attorney since 1993. His Immigration Cases have been the subject of articles in many publications including
              The Herald News, and he has been published in the New Jersey Law Journal. Mr. Doe has given numerous
              lectures on various topics within the area of Immigration Law, and has taught various political and legal
              courses at New Jersey’s William Paterson University, including a Masters Degree Course in Political Asylum
              and International Human Rights Law. Mr. Doe is the founder of Doe & Associates, LLC, US Immigration
              Attorneys with offices in Clifton and Fort Lee, New Jersey, and Aventura, Florida.
            </p><br/>
            <p class="fClass">
                <b>Education<br/>
                Texas A&M University School of Law</b><br/>
                J.D. (2010) | Law<br/>
                2007 - 2010
                
            </p>
      

            
            </article>
            </div>

  
      </div>

</div>