<div class="field-label">
    <label class="label userLabel">Welcome, &nbsp;{{user.firstName+" "+user.lastName}} !</label>
  </div>
<p style="
font-size: 25px;
font-weight: 700;
" >Dashboard</p>
<div class="field text-center">
        <div class="control pending-section">
        
          <label class="checkbox">
            <input type="checkbox"
            [ngModel]="selectPendingStatus == true"
             (ngModelChange)="selectPendingStatus=$event?true:false"
             (change)="onChange($event)"
             name="selectPendingStatus">
            Pending
          </label>
          <label class="checkbox">
            <input type="checkbox" 
            [ngModel]="selectCompletedStatus == true"
            (ngModelChange)="selectCompletedStatus=$event?true:false"
            (change)="onChange($event)"
              name="selectCompletedStatus">
            Completed
          </label>
        </div>
      </div>
<table class="table is-bordered is-responsive is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th class="smallCol"><abbr title="Position">Case No</abbr></th>
            <th>Asked By</th>
            <th><abbr title="Played">Post Date</abbr></th>
            <th class="is-two-fifths"><abbr title="Question">Question</abbr></th>
            <th><abbr title="Last Action By">Last Action By</abbr></th>
            <th>
                Status
                    <!-- <select [(ngModel)]="selectStatus"   (change)="onChange($event)">
                            <option value="ALL" >
                                    All
                                   </option>
                            <option  value="PENDING">
                                    Pending
                                   </option>
                            <option value="COMPLETED" >
                             Completed
                            </option>
                         </select> -->
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pq of filteredCases |  paginate:{itemsPerPage: 10, currentPage:p1} ">

            <td><span class="keyColVal">{{pq.caseID}}</span>
            </td>

            <td>{{pq.askedBy}}
            </td>
            <td>{{pq.questionDate | date:'MM/dd/yy h:mm:ss a'}}
            </td>
            <td class=" questTd is-two-fifths">
                <strong> {{pq.caseHeader}}</strong> <br />
                <p class="is-small">{{pq.description | slice:0:127}}...</p>
            </td>
            <td>{{pq.lastResponseBy}}
            </td>
            <td>
                    {{pq.caseStatus}}
                </td>
            <td>

                <div class="tile">
                    <!-- <a class="button is-danger is-outlined is-small">Answer</a>
                    &nbsp; -->
                    <a class="button is-primary is-outlined is-small"
                        [routerLink]="['/edit-response',pq.caseID]">View</a>
                </div>



            </td>


        </tr>
    </tbody>
    <tfoot>
            <tr>
     
             <td colspan="6">
                 <div id="pagination">
                     <pagination-controls (pageChange)="p1=$event"></pagination-controls>
                   </div> 
             </td>
            </tr>    
         </tfoot>
</table>


<!-- <br />
<br />

<p class="subtitle">Completed Responses</p>
<table class="table is-bordered is-responsive is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th class="smallCol"><abbr title="Position">Case No</abbr></th>
            <th>Asked By</th>
            <th><abbr title="Played">Open Date</abbr></th>
            <th class="is-two-fifths"><abbr title="Question">Question</abbr></th>
            <th><abbr title="Last Action By">Last Action By</abbr></th>

           

            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pq of completedQuesList  ">

            <td><span class="keyColVal">{{pq.caseID}}</span>
            </td>

            <td>{{pq.askedBy}}
            </td>
            <td>{{pq.questionDate | date:'MM-dd-yyyy hh:mm'}}
            </td>
            <td class="is-two-fifths">
                <strong> {{pq.caseHeader}}</strong> <br />
                <p class="is-small">{{pq.description}}</p>
            </td>
            <td>{{pq.lastResponseBy}}
            </td>
            <td>
                {{pq.caseStatus}}
            </td>
            <td>

                <div class="tile">
                    <a class="button is-danger is-outlined is-small">Answer</a>
                    &nbsp;
                    <a class="button is-primary is-outlined is-small" [routerLink]="['/edit-response',pq.caseID]">View</a>
                </div>



            </td>


        </tr>
    </tbody>
     <tfoot>
            <tr>
     
             <td colspan="6">
                 <div id="pagination">
                     <pagination-controls (pageChange)="p2=$event"></pagination-controls>
                   </div> 
             </td>
            </tr>    
         </tfoot> 
</table> -->