// .table__wrapper {
//     overflow-x: auto;
//   }
span.keyColVal {
  font-weight: 600!important;
  color: #ffc107;
}
strong {
  color: #363636!important;
  font-weight: 600!important;
}
.table td:not([align]), th:not([align]) {
 
  font-size: 13px !important;
}
.table th:not([align]) {
 
  font-size: 12px !important;
  background: #7570602b !important;
  /* color: white !important; */
//   min-width: 100px !important;
  text-align: center !important;
}

td.questTd {
    text-align: left!important;
}

table td:not([align]), table th:not([align]){
	text-align: center ;
}
table td:not([align]).quesTd{
	text-align: center ;
}
.previous {
  text-align: left;
  }
  
  .next {
  text-align: right;
  }
.hero .title a {
	text-decoration: underline;
}

h1 {
	font-size: 2em;
}
.pending-section {
	text-align: left;
}
.pending-section label.checkbox {
	font-size: 20px !important;
	padding-right:10px;
}
.pending-section label.checkbox input {
	width: 15px;
	height: 15px;
}
@media screen and (max-width: 800px) {
	.is-responsive {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		display: block;
		position: relative;
	}

	.is-responsive td:empty:before {
		content: '\00a0';
	}

	.is-responsive th,
    .is-responsive td {
		margin: 0;
		vertical-align: top;
	}

	.is-responsive th {
		text-align: left;
	}

	.is-responsive thead {
		border-right: solid 2px #dbdbdb;
		display: block;
		float: left;
	}

	.is-responsive thead tr {
		display: block;
		padding: 0 10px 0 0;
	}

	.is-responsive thead tr th::before {
		content: "\00a0";
	}

	.is-responsive thead td,
      .is-responsive thead th {
		border-width: 0 0 1px;
	}

	.is-responsive tbody {
		display: block;
		width: auto;
		position: relative;
		overflow-x: auto;
		white-space: nowrap;
	}

	.is-responsive tbody tr {
		display: inline-block;
		vertical-align: top;
	}

	.is-responsive th {
		display: block;
		text-align: right;
	}

	.is-responsive td {
		display: block;
		min-height: 1.25em;
		text-align: left;
	}

	.is-responsive th:last-child,
    .is-responsive td:last-child {
		border-bottom-width: 0;
	}

	.is-responsive tr:last-child td:not(:last-child) {
		border: 1px solid #dbdbdb;
		border-width: 0 0 1px;
	}

	.is-responsive.is-bordered td,
    .is-responsive.is-bordered th {
		border-width: 1px;
	}

	.is-responsive.is-bordered tr td:last-child,
    .is-responsive.is-bordered tr th:last-child {
		border-bottom-width: 1px;
	}

	.is-responsive.is-bordered tr:last-child td,
    .is-responsive.is-bordered tr:last-child th {
		border-width: 1px;
	}
}