<form [formGroup]="mySignUpForm" novalidate (ngSubmit)="signUp()">

    <div class="field">
        <p class="control has-icons-left has-icons-right">
            <input class="input" type="email" formControlName="email" placeholder="Email">
            <span class="icon is-small is-left">
                <fa-icon [icon]="faEnvelope"></fa-icon>
            </span>
            <span class="icon is-small is-right">
                <fa-icon [icon]="faCheck"></fa-icon>

            </span>
        </p>
    </div>

    <div class="field">
        <p class="control has-icons-left">
            <input class="input" type="password" maxlength="10" formControlName="password" placeholder="Password">
            <span class="icon is-small is-left">
                <fa-icon [icon]="faPassword"></fa-icon>

            </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left has-icons-right">
            <input class="input" type="text" formControlName="firstName" minlength="1" maxlength="15"
                placeholder="first name">
            <span class="icon is-small is-left">
                <fa-icon [icon]="faUser"></fa-icon>
            </span>

        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left has-icons-right">
            <input class="input" type="text" maxlength="1" formControlName="middleName" placeholder="middle name">
            <span class="icon is-small is-left">
                <fa-icon [icon]="faUser"></fa-icon>
            </span>

        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left has-icons-right">
            <input class="input" type="text" formControlName="lastName" maxlength="20" placeholder="last name">
            <span class="icon is-small is-left">
                <fa-icon [icon]="faUser"></fa-icon>
            </span>

        </p>
    </div>

    <!-- <div class="field">
        <p class="control has-icons-left has-icons-right">
            <input class="input" type="text"  formControlName="role" placeholder="role eg. attorney, paralegal">
            <span class="icon is-small is-left">
                <fa-icon [icon]="faUser"></fa-icon>
            </span>

        </p>
    </div> -->






    <div class="field">
        <p class="control has-icons-left">
            <input class="input" type="text" formControlName="mobilePhone" mask="(000) 000-0000" placeholder="Phone">
            <span class="icon is-small is-left">
                <fa-icon [icon]="faPhone"></fa-icon>

            </span>
        </p>
    </div>


<!-- 

    <div class="field">
        <p class="control has-icons-left">
            <input class="input" type="text" formControlName="mobilePhone" mask="(000) 000-0000" placeholder="Phone">
            <span class="icon is-small is-left">
                <fa-icon [icon]="faPhone"></fa-icon>

            </span>
        </p>
    </div> -->
    <div class="field">
        <div class="control has-icons-left">
            <div class="select">
                <select formControlName="immigrationStatus">
                    <!-- <option selected>Select Immigration Status</option> -->
                    <option *ngFor="let mig of sharedDataService.immigrationStatus">{{mig}}</option>

                </select>
            </div>
            <div class="icon is-small is-left">
                <fa-icon [icon]="faGlobe"></fa-icon>
            </div>
        </div>
    </div>


    <div class="field" *ngIf="mySignUpForm.controls['immigrationStatus'].value=='Other'">
            <p class="control has-icons-left">
                <input class="input" type="text" formControlName="immigrationStatusText" maxlength="50" placeholder="immigration status">
                <span class="icon is-small is-left">
                    <fa-icon [icon]="faGlobe"></fa-icon>
    
                </span>
            </p>
        </div>


    <div class="field">
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" formControlName="disclaimerStatus" #terms>
                I agree to the <a href="#">terms and conditions</a>
            </label>
        </div>
    </div>



    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Submit</button>
        </div>
        <div class="control">
            <button class="button is-link is-light" (click)="Switch()">Cancel</button>
        </div>
    </div>

</form>